.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover{
    background-color: red;
}





.ex-2-square{
    transition: width 3s;
}

.ex-2-square:active{
    width: 100%;
}




.ex-3-square{
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}




.ex-4-square{
    transition: filter 2s;
}

.ex-4-square:hover{
    filter: opacity(0);
}




.ex-5-square{
    transition: transform 2s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform:scale(.5)
}



.ex-6-img{
    transition: filter 2s;
}

.ex-6-img:hover{
    filter: grayscale();
}




.ex-7-img{
    transition: filter 2s;
}
 .ex-7-img:hover{
     filter: grayscale();
     filter: sepia(.5);
 }




 .ex-8-img{
    transition: all 2s;
}
 .ex-8-img:hover{
     filter: grayscale();
     filter: sepia(.5);

    border-radius: 30px;
 }




 .ex-9-img{
    transition: all 2s;
}
 .ex-9-img:hover{
     filter: grayscale();
     filter: sepia(.5);

    border-radius: 30px;

    transform: scale(1.5);
 }




 .ex-10-icon{
     animation: loading 2s infinite linear;
 }

 @keyframes loading {
     100%{
         transform: rotate(360deg);
     }
 }




 .ex-11-icon:hover{
    animation: loading75 2s infinite linear;
 }

 @keyframes loading75 {
    75%{
        transform: rotate(calc(360deg * .75))
    }
}




.ex-12-button:hover .ex-12-top-white{
    animation: borderTopAnim linear 2s;  
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: borderBotAnim linear 2s;
}

@keyframes borderTopAnim {
    50%{
        left: calc(100% - 60px);
    }
}

@keyframes borderBotAnim {
    50%{
        right:calc(100% - 60px)
    }
}